
        <h1>Welcome Page</h1>

<!-- Call to Action Section -->

<%= link_to('Go To Courses', courses_path)  %>
<%= link_to('Login', new_user_session_path)  %>
<%= link_to('Signup', new_user_registration_path)  %>
<%= link_to('AdminLogin', new_admin_user_session_path)  %>


